<div class="footer2 py-5">
  <div class="container d-flex justify-content-between p-2 text-center">
    <div class="item1 w-25">
      <h3>LOCATION</h3>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="item2 w-25">
      <h3>ABOUT THE WEB</h3>
      <div class="icon">
        <i class="fab fa-facebook-f p-2"></i>
        <i class="fab fa-twitter p-2"></i>
        <i class="fab fa-linkedin-in p-2"></i>
        <i class="fab fa-google-plus-g p-2"></i>
      </div>
    </div>
    <div class="item3 w-25">
      <h3>ABOUT FREELANCER</h3>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
  </div>

</div>
<div class="footer">
  <p>Copyright © Your Website 2021</p>
</div>
