<div class="about">
  <div class="container mt-5">
    <h2 class="">ABOUT COMPONENT</h2>
    <div class="star">
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="paragraph d-flex justify-content-between py-3">
      <div class="para1">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
           files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="para2">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
           files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>

  </div>
</div>
