<nav class="navbar navbar-expand-lg bg-dark navbar-dark z-3">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" routerLink="home">
      <h2>Start Framework</h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-3" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item">
          <a class="nav-link text-light me-2 fs-5" routerLinkActive="bg-green rounded" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light me-2 fs-5" routerLinkActive="bg-green rounded" routerLink="portfolio">Portofiol</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light me-2 fs-5"routerLinkActive="bg-green rounded" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
