<div class="contact">
  <div class="container">
      <h2 class="">CONTACT SECTION</h2>
      <div class="star1">
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="form w-50 mx-auto py-5">
        <div class="form-floating mb-3">
          <input type="email" class="form-control shadow-none " id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">User Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control shadow-none " id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">User Age</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control shadow-none " id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">User Email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control shadow-none " id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">User Password</label>
        </div>
        <button class="btn btn-success my-3 ms-0">Send Massage</button>
      </div>
  </div>
</div>


