<div class="port mt-4">
<div class="container">
  <h2 class="">PORTFOLIO COMPONENT</h2>
  <div class="star1">
    <i class="fa-solid fa-star"></i>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 mb-4">
      <img src="images/port1.png" alt="Image 1" class="img-fluid rounded">
    </div>

    <div class="col-md-4 mb-4">
      <img src="images/port2.png" alt="Image 2" class="img-fluid rounded">
    </div>
    <div class="col-md-4 mb-4">
      <img src="images/port3.png" alt="Image 3" class="img-fluid rounded">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4 mb-4">
      <img src="images/port2.png" alt="Image 1" class="img-fluid rounded">
    </div>

    <div class="col-md-4 mb-4">
      <img src="images/port3.png" alt="Image 2" class="img-fluid rounded">
    </div>
    <div class="col-md-4 mb-4">
      <img src="images/port1.png" alt="Image 3" class="img-fluid rounded">
    </div>
  </div>
</div>
</div>
